<nav>
    <div>
        <ul class="sidenav-list-3ddf343b">
            <p class="sidenav-title-3ddf343b">Admins</p>
            <li><a class="sidenav-btn-3ddf343b" href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
            <!-- create course templates -->
            <li><a class="sidenav-btn-3ddf343b" href="{{ url_for('courses.admin_course_instances') }}">Manage Courses</a></li>
            <li><a class="sidenav-btn-3ddf343b" href="{{ url_for('admin.students') }}">All Students</a></li>
        </ul>
    </div>
    <div>
        {% include 'private/components/nav/default.html' %}
    </div>
</nav>