{% extends 'bases/nonstudents.html' %}

{% block sidenav %}
    {% include 'private/superusers/components/navbar.html' %}
{% endblock sidenav %}

{% block inner_content %}
<div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Manage Users</h1>
        {% if focus != 'all' %}
        <a href="{{ url_for('superuser.add_user_to_role', role_name=focus) }}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add {{ focus.capitalize() }}
        </a>
        {% endif %}
    </div>

    <div class="mb-3">
        <!-- tabs for all the roles: superusers, admin, instructors, students -->
         <ul class="tabs">
            <li>
                <a href="{{ url_for('superuser.manage_users', focus='all') }}" {% if focus == 'all' %}class="active"{% endif %}>
                    All Users <span class="badge bg-primary">{{ role_counts.all }}</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('superuser.manage_users', focus='superuser') }}" {% if focus == 'superuser' %}class="active"{% endif %}>
                    Superusers <span class="badge bg-primary">{{ role_counts.superuser }}</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('superuser.manage_users', focus='admin') }}" {% if focus == 'admin' %}class="active"{% endif %}>
                    Admins <span class="badge bg-primary">{{ role_counts.admin }}</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('superuser.manage_users', focus='instructor') }}" {% if focus == 'instructor' %}class="active"{% endif %}>
                    Instructors <span class="badge bg-primary">{{ role_counts.instructor }}</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('superuser.manage_users', focus='student') }}" {% if focus == 'student' %}class="active"{% endif %}>
                    Students <span class="badge bg-primary">{{ role_counts.student }}</span>
                </a>
            </li>
         </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% set roles = user.get_roles() %}
                
                {% if focus == 'all' or focus in roles %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.get_roles() %}
                        <span class="badge bg-secondary">{{ role }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('superuser.manage_user_roles', user_id=user.id) }}" class="btn btn-sm btn-primary">
                            <i class="bi bi-shield-lock"></i> Manage Roles
                        </a>
                    </td>
                </tr>
                {% endif %}
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock inner_content %}