{% extends 'bases/nonstudents.html' %}

{% block sidenav %}
    {% include 'private/admins/components/navbar.html' %}
{% endblock sidenav %}

{% block inner_content %}
<div>
    <h1>Manage Courses</h1>

    <div>
        <!-- Desktop/Tablet: Use full calendar, Mobile: Use admin mobile calendar -->
        <div class="d-none d-lg-block">
            {% include 'private/components/calendar.html' %}
        </div>
        
        <div class="d-lg-none">
            {% include 'private/admins/components/mobile_calendar_admin.html' %}
        </div>
    </div>
</div>
{% endblock inner_content %}