{% extends 'bases/nonstudents.html' %}

{% block sidenav %}
{% include 'private/admins/components/navbar.html' %}
{% endblock sidenav %}

{% block inner_content %}
<div>
    <h1>Course Instance Details</h1>

    <div>
        <h3>{{ course_instance.course_template.title }}</h3>
        <p><strong>Start Date:</strong> {{ course_instance.start_date.strftime('%Y-%m-%d') }}</p>
        <p><strong>Location:</strong> {{ course_instance.location }}</p>
        <p><strong>Duration (days):</strong> {{ course_instance.duration_days }}</p>
        <p><strong>Start Time:</strong> {{ course_instance.start_time.strftime('%H:%M') }}</p>
        <p><strong>Description:</strong> {{ course_instance.course_template.description }}</p>
    </div>
</div>
{% endblock inner_content %}