<nav>
    <div>        {% include 'private/components/nav/role_switcher.html' %}        <ul class="sidenav-list-3ddf343b">
            <p class="sidenav-title-3ddf343b">Instructors</p>
            <li><a class="sidenav-btn-3ddf343b" href="{{ url_for('auth.dashboard') }}">Dashboard</a></li>
            <!-- create course templates -->
            <!-- <li><a class="sidenav-btn-3ddf343b" href="{{ url_for('course_temp.list_course_temps') }}">Courses Calendar</a></li> -->
            <!-- Payables -->
        </ul>
    </div>
    <div>
        {% include 'private/components/nav/default.html' %}
    </div>
</nav>