<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cwmt</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapcss/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block styles %}
        
    {% endblock styles %}
</head>
<body>
    <!-- basic flash message -->
    {% include 'components/flash_messages.html' %}

    {% block page_wrapper %}
        
    {% block content %}
        
    {% endblock content %}

    {% endblock page_wrapper %}

    <!-- bootstrap js -->
    <script src="{{ url_for('static', filename='js/bootstrapjs/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
        
    {% endblock scripts %}  
</body>
</html>